@font-face {font-family: Open Sans Regular;src: url(../fonts/OpenSans-Regular.ttf);display:swap;}
@font-face {font-family: Open Sans SemiBold;src: url(../fonts/OpenSans-SemiBold.ttf);display:swap;}
@font-face { font-family: Open Sans Bold;src: url(../fonts/OpenSans-Bold.ttf);display:swap;}
/* Sass Decoration to assign color values*/
:root {
    --black--: #343a40;
    --purple--: #571F9C;
    --ash--: #f2f2f2;
    --white--: #FFFFFF;
    --blue--: #007bff;
    --deepblue--: #0056b3;
}
/* Margin and Padding removal*/
body {
    margin: 0;
    padding: 0;
    background-color: white;
    opacity: 0.9;
    font-family: "Open Sans Regular";
}
* {
    box-sizing: border-box;
    border: none;
    outline: none;
}
*:hover {
    border: none;
    outline: none;
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}
h2,h3,h4,h5,h6{
    text-align: center;
}
nav{
    height: 50px ; 
    position: fixed;
    width: 100% ;
    color: white;
    z-index: 100;
    background-color: var(--deepblue--) ;
    display: flex ;
    padding-left: 15px;
    justify-content: space-between ;
    align-items: center ;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.5) ;
}
nav a {
    padding-left: 15px;
}
.div{
    display: flex;
    width: 350px;
}
.div .nav-link{
    padding:14px 14px;
    transition: color font-weight 0.6s ease-in-out;
}
.nav-link:hover{
    background-color: black;
    color: white;
}
nav .active{
    background-color: black;
    color: white;
}
.menu-bar-open,
.menu-bar-close {
    position: fixed;
    right: 15px;
    font-weight: bolder;
    top: 15px;
}
.menu-bar-open,
.menu-bar-close {
    font-size: 160%;
    display: none;
    color: black;
}
.div2{
    position: fixed;
    margin-top: 50px;
    display: none;
}
@media all and (max-width: 530px){
    .div{
       display: none;
    }
    .div2{
        display: none;
        width: 100%;
        background-color: white;
    }
    .div2 .nav-link:nth-child(1){
        border-top: 1px solid black;
    }
    .div2 .nav-link{
        padding:14px 14px;
        border-bottom: 1px solid black;
        width: 100%;
        font-weight: bold;
    }
    .menu-bar-open{
        display: block;
    }
}
/* Main View port */
header{
    padding-top: 50px;
    width: 100%;
}
header img{
    width: 100%;
    height: auto;
}
header h1{
    text-align: center;
}
@media all and (max-width: 530px){
    header h1{
    font-size: 6vw;
}
}
.intro {
    display: block;
    text-align: center;
}
section{
    margin-left: 10%;
    margin-right: 10%;
}
.striaght-line {
    width: 100px;
    height: 2px;
    
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
    background-color: #d9d9d9;
}

.blue-line {
    width: 35px;
    
    height: 2px;
    background-color: var(--deepblue--);
    margin-top: -2px;
    margin-left: auto;
    margin-right: auto;
}
section h1 {
    font-family: "Open Sans Regular";
    text-align: center;
    padding-top: 10px;
    letter-spacing: 1px;
}

.temp-grid{
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-flow: row-wrap;
    justify-content: space-around;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin-bottom: 10px;
}
.card:hover {
    transform: scale(1.05);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card .container {
  padding: 2px 16px;
}
.container h4{
  margin: 0;
  padding: 10px;
  text-align: center;
}
.card img{
    width: 330px;
    height: auto;
    border-bottom: 0.5px solid black
}
@media all and (max-width: 380px){
    .card img{
    width: 90%;
    height: auto;
    border-bottom: 0.5px solid black
}
}
section.aboutus .container{
    display: flex;
    justify-content: space-between;
    padding-right: 15px;
    padding-left: 15px;
}
.col-sm-6{
    width: 54%;
    align-items: center;
}
.col-sm-6 h2{
    margin: 30px 0 60px;;
}
.col-md-5{
    width: 46%;
}
.col-md-5 img{
    width: 100%;
    height: auto;
    align-items: center;
}
@media all and (max-width: 700px){
    section.aboutus .container{
    display: flex;
    flex-direction: column-reverse;
}
.col-md-5{
    width: 100%;
    align-items: center;
    justify-content: center;
    margin:auto;
}
.col-sm-6{
    width: 100%;
    align-items: center;
    justify-content: center;
    margin:auto;
}
}
.icons{
    color: black;
}
.tips{
    background-color: var(--deepblue--);
    color: white;
    position: relative;
    margin-right: 0%;
    width: 100%;
    margin-top: 15px;
    left: -10%;
    text-shadow: 1px 1px 2px #000000;
    padding-bottom: 10px;
}
.quotes-container{
    position: relative;
}
blockquote{
    border-radius: 20px;
    color: white;
    padding: 15px;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.5) , 2px 2px 4px #000000;
}

.icon-chevron-left , .icon-chevron-right{
    cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.icon-chevron-right{
    right: 0;
    border-radius: 3px 0 0 3px;
}
.newsletter-form{
    display: flex;
    justify-content: space-between;
    padding-right: 10%;
    padding-left: 10%;
}
.newsletter-form input[type='text']{
    width: 
}
footer{
    width: 100%;
    position: absolute;
    background-color: var(--deepblue--);
}
.mini-jumbotron{
    padding:2rem 2rem;
    border-radius: 10px;
    display: grid;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.5) , 2px 2px 4px #000000;
}.mini-jumbotron ul{
    list-style-type: disc !important;
}
.mini-jumbotron ul li{
    text-decoration: underline;
    list-style-type: disc !important;
    font-size: 90%;
    font-weight: 500;
}