@font-face {font-family: Open Sans Regular;src: url(../fonts/OpenSans-Regular.ttf);display:swap;}
@font-face {font-family: Open Sans SemiBold;src: url(../fonts/OpenSans-SemiBold.ttf);display:swap;}
@font-face { font-family: Open Sans Bold;src: url(../fonts/OpenSans-Bold.ttf);display:swap;}
/* Sass Decoration to assign color values*/
:root {
    --black--: #343a40;
    --purple--: #571F9C;
    --ash--: #f2f2f2;
    --white--: #FFFFFF;
    --blue--: #007bff;
    --deepblue--: #0056b3;
}
/* Margin and Padding removal*/
body {
    margin: 0;
    padding: 0;
    background-color: white;
    opacity: 0.9;
    font-family: "Open Sans Regular";
}
* {
    box-sizing: border-box;
    border: none;
    outline: none;
}
*:hover {
    border: none;
    outline: none;
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}

nav{
    height: 50px ; 
    position: absolute ;
    width: 100% ;
    background-color: white ;
    display: flex ;
    padding-left: 15px;
    justify-content: space-between ;
    align-items: center ;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.5) ;
}
nav a {
    padding-left: 15px;
}
.div{
    display: flex;
    width: 350px;
}
.div .nav-link{
    padding:14px 14px;
    transition: color font-weight 0.6s ease-in-out;
}
.nav-link:hover{
    background-color: black;
    color: white;
}
.menu-bar-open,
.menu-bar-close {
    position: fixed;
    right: 15px;
    font-weight: bolder;
    top: 15px;
}
.menu-bar-open,
.menu-bar-close {
    font-size: 160%;
    display: none;
    color: var(--deepblue--);
}
.div2{
    position: absolute;
    margin-top: 50px;
    display: none;
}
@media all and (max-width: 530px){
    .div{
       display: none;
    }
    .div2{
        display: none;
        width: 100%;
        background-color: white;
    }
    .div2 .nav-link:nth-child(1){
        border-top: 1px solid black;
    }
    .div2 .nav-link{
        padding:14px 14px;
        border-bottom: 1px solid black;
        width: 100%;
        font-weight: bold;
    }
    .menu-bar-open{
        display: block;
    }
}
/* Main View port */
header{
    padding-top: 50px;
    width: 100%;
}
header img{
    width: 100%;
    height: auto;
}
header h1{
    text-align: center;
}

