<!DOCTYPE html>
<html>
<head>
	<title>DoResume | First Temp</title>
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="author" content="Okeke Johnpaul">
      <meta name="description" content="Convert your assignments into handwritten ones">
      <meta name="keyword" content="DoResume, resume generator, resume editor, resume writing, resume builder,
                  resume">
      <!-- CSS -->
      <link rel="stylesheet" href="temp1.css">
      <!-- Icons -->
      <link rel="stylesheet" href="../assets/fonts/icomoon/style.css">
      <!--Fonts-->
      <link rel="preload" href="assets/fonts/OpenSans-Regular.ttf" as='font'>
      <link rel="preload" href="assets/fonts/OpenSans-SemiBold.ttf" as='font'>
      <link rel="preload" href="assets/fonts/OpenSans-Bold.ttf" as='font' >
</head>
<body>
      <section class="side-bar"> 
            <h2 class="full-name">Okeke Johnpaul</h2>
            <span class=""></span>
            <div>
                  <label>Personal Info</label>
            </div>
            <div>
                  <label>Skills</label>
            </div>
            <div>
                  <label>Software</label>
            </div>
            <div>
                  <label>Languages</label>
            </div>
      </section>
      <main class="main-content">
            
      </main>  
</body>
<script type="text/javascript" src="../assets/js/custom.js"></script>
<script type="text/javascript" src="../assets/js/jquery.min.js"></script>
<script type="text/javascript">
      $(document).ready(function(){
            $(".full-name").text(resume.name[0]);
      });

</script>
</html>