<!DOCTYPE html>
<html>
<head>
	<title>DoResume | Third Temp</title>
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="author" content="Okeke Johnpaul">
      <meta name="description" content="Convert your assignments into handwritten ones">
      <meta name="keyword" content="DoResume, resume generator, resume editor, resume writing, resume builder,
                  resume">
      <!-- CSS -->
      <link rel="stylesheet" href="temp1.css">
      <!-- Icons -->
      <!-- Please Do Not use bootstrap for your icons Dm me AND I WILL TEACH U HOW TO USE THESE-->
      <link rel="stylesheet" href="../assets/fonts/icomoon/style.css">
      <!--Fonts-->
      <link rel="preload" href="assets/fonts/OpenSans-Regular.ttf" as='font'>
      <link rel="preload" href="assets/fonts/OpenSans-SemiBold.ttf" as='font'>
      <link rel="preload" href="assets/fonts/OpenSans-Bold.ttf" as='font' >
</head>
<body>

</body>
<script type="text/javascript" src="../assets/js/custom.js"></script>
<script type="text/javascript" src="../assets/js/jquery.min.js"></script>
</html>