<!DOCTYPE html>
<html>
    <head>
        <title>DoResume|Template2</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="cols cols-3 side" id="side">
                    <div>
                        <span style="margin-top: 392px;">2006-12-present</span>
                        <span style="margin-top: 150px;">2004-09-2006-12</span>
                        <span  style="margin-top: 210px;">2002-08-2004-09</span>
                        <span  style="margin-top: 755px;">2002-08-2004-09</span>
                        <span  style="margin-top: 24px; margin-bottom: 50px;">2002-08-2004-09</span>
                    </div>

                </div>
                <div class="cols cols-9 main">
                    <h1>John Smith</h1>
                    <h2>IT Project Manager</h2> <br><br>
                    <div >
                        <div class="cols cols-6 ">
                            <span id="phone"><span class="icon"><i class="fa fa-phone"></i></span>774-987-4009</span><br><br>
                            <span id="linkedin"><span class="icon"><i class="fa fa-linkedin"></i></span>linkedin.com/johnutw</span><br>
                        </div>
                        <div class="cols cols-6 ">
                            <span id="email"><span class="icon"><i class="fa fa-envelope"></i></span>j.smith@uptowork.com</span><br><br>
                            <span id="twitter"><span class="icon"><i class="fa fa-twitter"></i></span>@johnsmithutw</span><br>
                        </div>
                        <section class="intro">
                            IT Professional with over <b>10 years</b> of experiencing 
                            in <b>IT department management</b> for internatonal logistics
                            companies. I can implement effective <b>IT strategies</b> at local
                            and global levels. My greatest strenght is business awareness, which
                            enables me to permanently streamline infrastructure and applications. 
                            Striving to liverage my IT management skills at SanCorp Inc. 
                        </section>
                        <section>
                       
                            <div class="sect">
                                
                                <div class="title"> <i class="fa fa-briefcase icon"></i>Experience</div>
                                <div class="cols cols-12">
                                    <span >
                                        <b><i class="fa fa-circle icon" id="icon"></i>Senior Project Manager</b>
                                        <p>Seton Hospital, ME</p>
                                        <ul>
                                            <li>Oversaw all major hospital IT projects for 10+ years, focus on cost reduction</li>
                                            <li>Responsible for creating, improving</li>
                                            <li>Oversaw all major hospital IT projects for 10+ years, focus on cost reduction</li>
                                            <li>Oversaw all major hospital IT projects for 10+ years, focus on cost reduction</li>
                                        </ul>
                                    </span>
                                    <span >
                                        <b><i class="fa fa-circle icon" id="icon"></i>Senior Project Manager</b>
                                        <p>Seton Hospital, ME</p>
                                        <ul>
                                            <li>Oversaw all major hospital IT projects for 10+ years, focus on cost reduction</li>
                                            <li>Responsible for creating, improving</li>
                                            <li>Oversaw all major hospital IT projects for 10+ years, focus on cost reduction</li>
                                            <li>Oversaw all major hospital IT projects for 10+ years, focus on cost reduction</li>
                                        </ul>
                                    </span>
                                    
                                </div>
                            </div>
                            
                            <div class="sect">
                                <div class="title"><i class="fa fa-graduation-cap icon"></i>Education</div>
                                <div class="cols cols-12">
                                    <span>
                                        <b><i class="fa fa-circle icon" id="icon"></i>Senior Project Manager</b>
                                        <p>Seton Hospital, ME</p>
                                        <ul>
                                            <li>Oversaw all major hospital IT projects for 10+ years, focus on cost reduction</li>
                                            <li>Responsible for creating, improving</li>
                                            <li>Oversaw all major hospital IT projects for 10+ years, focus on cost reduction</li>
                                            <li>Oversaw all major hospital IT projects for 10+ years, focus on cost reduction</li>
                                        </ul>
                                    </span>
                                    
                                </div>
                            </div>
                            <div class="sect">
                                <div class="title"><i class="fa fa-puzzle-piece icon"></i>Skills</div>
                                <div class="cols cols-12">
                                    <p> <i class="fa fa-circle icon" id="icon"></i>Business Process Improvement: Responsible for creating, improving</p>
                                    <p><i class="fa fa-circle icon" id="icon"></i>Vendor Management: Responsible for creating, improving</p>
                                    <p><i class="fa fa-circle icon" id="icon"></i>Project Scheduling: Responsible for creating, improving</p>
                                    <p><i class="fa fa-circle icon" id="icon"></i>Sales Analysis Responsible for creating, improving</p>
                                    <p><i class="fa fa-circle icon" id="icon"></i>Strategic Planning :Responsible for creating, improving</p>
                                    <p><i class="fa fa-circle icon" id="icon"></i>Communication Skills:Responsible for creating, improving</p>
                                </div>
                                    
                            </div>        
                            
                            <div class="sect">
                                <div class="title"><i class="fa fa-desktop icon"></i>Software</div>
                                <div class="cols cols-12 ">
                                    <span class="cols cols-6"> <i class="fa fa-circle icon" id="icon"></i>Responsible for creating, improving</span> 
                                    <span class="cols cols-6 right">
                                        <i class="fa fa-circle icon" id="icon"></i><i class="fa fa-circle icon" id="icon"></i>
                                        <i class="fa fa-circle icon" id="icon"></i><i class="fa fa-circle icon" id="icon"></i><br>
                                        <cite>Excellent</cite>
                                    </span>
                                    <span class="cols cols-6"> <i class="fa fa-circle icon" id="icon"></i>Responsible for creating, improving</span>
                                    <span class="cols cols-6 right">
                                        <i class="fa fa-circle icon" id="icon"></i><i class="fa fa-circle icon" id="icon"></i>
                                        <i class="fa fa-circle icon" id="icon"></i><i class="fa fa-circle icon" id="icon"></i><br>
                                        <cite>Very Good</cite>
                                    </span>
                                </div>
                            </div> 
                            
                            <div class="sect">
                                <div class="title"><i class="fa fa-certificate icon"></i>Certification</div>
                                <div class="cols cols-12">
                                    <span>
                                        <p> <i class="fa fa-circle icon" id="icon"></i>Responsible for creating, improving</p>
                                        <p> <i class="fa fa-circle icon" id="icon"></i>Responsible for creating, improving</p>
                                    </span>
                                    
                                </div>    
                            </div>
                        </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>